# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Environment files
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist
build
*.log

# Test files
coverage
.nyc_output
__tests__
*.test.*
*.spec.*

# Documentation
README.md
docs

# Fly.io specific
fly.toml